.icon {
	background-color: hsl(217, 19%, 35%);
	padding: 1em 2em;
	display: flex;
	align-items: center;
	gap: 1.25em;
	position: absolute;
	right: -5em;
	top: 9em;
	z-index: 10;
	border-radius: 12px;
}

.icon:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid hsl(217, 19%, 35%);
	right: 8.25em;
	top: 3.5em;
}

.icon a {
	display: flex;
}

.icon p {
	letter-spacing: 0.5em;
	color: hsl(212, 23%, 69%);
}
